{% extends "base.html" %}


{% block home_active %}
    class="active"
{% endblock %}

{% block extra_header %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $.get( "/posts/make_post", function( data ) {
            $( "#post_posts" ).html( data );
        });
    </script>
    <script>
        $.get( "/posts/get_all_posts", function( data ) {
            $( "#get_posts" ).html( data );
        });
    </script>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>JUMBOTRONS ARE FUN! MAIN</h1>
        <p class="lead"></p>
    </div>
    TEST
    <div class="row marketing">
        <div class="col-sm-2" id="post_posts"></div>
    
        <div class="col-lg-10" id="get_posts"></div>
    </div>
{% endblock %}