{% extends "base.html" %}


{% block home_active %}
    class="active"
{% endblock %}


{% block content %}

<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/signin.css" rel="stylesheet">
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src = "/static/js/update.js"> </script>
     
     <script type=text/javascript>

     </script>
     
     <div class="container">
      </div>
  
   </head>
   <body>
      
      <div class="container">
         
      <form class="completed" id="update_password">
         <h2 class="form-signin-heading">Update your password</h2>
         <p id="update_message" class="login_error"></p>
         
         <label for="EmailText" class="sr-only">Enter new password</label>
         <input name="pw1" type="password" id="inputEmail" class="form-control" placeholder="Enter new password" required autofocus>
         
         <label for="Email2Text" class="sr-only">Re-type new passwor</label>
         <input name="pw2" type="password" id="inputConfEmail" class="form-control" placeholder="Re-type new password" required autofocus>
         
         <label for="PasswordText" class="sr-only">Confirm with password</label>
         <input name="returnPassword" type="password" id="inputPassword" class="form-control" placeholder="Confirm with password" required>
         
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>
   </body>
</html>
{% endblock %}