<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Website</title>
    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>
        /* global $ */
        $(function() {
            $('#btnSignUp').on('click', function() {
                $.ajax({
                    url: '/register',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        }); 
    </script>
    {% block extra_header %}{% endblock %}     
 
</head>

<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" {% block home_active %}{% endblock %}><a href="/">Home</a></li>
                    
                    {% if session['userid'] %}
                        <li role="presentation"><a href="/login/logout">Logout</a></li>
                        <!--{% if session['isadmin'] %}-->
                        <!--<li role="presentation" {% block admin_active %}{% endblock %}><a href="/profile?uid={{ session['userid'] }}">Admin Profile</a></li>-->
                        <!--{% else %}-->
                        <li role="presentation" {% block nonadmin_active %}{% endblock %}><a href="/profile?uid={{ session['userid'] }}">Profile</a></li>
                        <!--{% endif %}-->
                    {% else %}
                        <li role="presentation" {% block signin_active %}{% endblock %}><a href="/login">Sign In</a></li>
                        <li role="presentation" {% block signup_active %}{% endblock %}><a href="/register">Sign Up</a></li>
                    {% endif %}
                    
                </ul>
            </nav>
            {% if session['userid'] %}
            <h3 class="text-muted">Logged in as: {{ session['email'] }}</h3>
            {% else %}
            <h3 class="text-muted">Welcome to the site, guest!</h3>
            {% endif %}
        </div>

        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} fade in">
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
        </div>
        {% block content_nodiv %}{% endblock %}
        <div class="container">
        <footer class="footer">
            <p>&copy; lajoliefolie 2017</p>
        </footer>
 
    </div>
</body>
 
</html>